{% extends "IOTApp/base.html" %}

{% block content %}
<table>
  <tr>
    <th>MeasureDT</th>
    <th>EquipNo</th>
    <th>ControllerNo</th>
    <th>SensorNo</th>
    <th>RcvDT</th>
    <th>SndDT</th>
    <th>Value</th>
    <th>OrderCd</th>
  </tr>
  {% for data in posts %}
  <tr>
    <td>{{data.MeasureDT}}</td>
    <td>{{data.EquipNo}}</td>
    <td>{{data.ControllerNo}}</td>
    <td>{{data.SensorNo}}</td>
    <td>{{data.RcvDT}}</td>
    <td>{{data.SndDT}}</td>
    <td>{{data.Value}}</td>
    <td>{{data.OrderCd}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}