{% load static %}
<html>

<head>

    <!-- Bootstrap -->
    <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/static/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="/static/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/static/build/css/custom.min.css" rel="stylesheet">


    <nav class="navbar navbar-expand-sm bg-light navbar-dark text-white">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="dashboard">
                    <font size="5" color="yellow"><strong>IoT Dashboard</strong></font>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">

                <ul class="nav navbar-nav text-white">
                    <li class="active text-white"><a href="admin" font color="white">Admin</a></li>
                </ul>

                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    {% endif %}
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->


</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>